In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
train_set = "/content/gdrive/MyDrive/CMPE 295A/SQuAD dataset/train-v2.0.json"
train_data = pd.read_json(train_set)
train_data.head()

  version                                               data
0    v2.0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1    v2.0  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2    v2.0  {'title': 'Sino-Tibetan_relations_during_the_M...
3    v2.0  {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4    v2.0  {'title': 'The_Legend_of_Zelda:_Twilight_Princ...

In [ ]:
test_set = "/content/gdrive/MyDrive/CMPE 295A/SQuAD dataset/dev-v2.0.json"
test_data = pd.read_json(test_set)
test_data.head()

  version                                               data
0    v2.0  {'title': 'Normans', 'paragraphs': [{'qas': [{...
1    v2.0  {'title': 'Computational_complexity_theory', '...
2    v2.0  {'title': 'Southern_California', 'paragraphs':...
3    v2.0  {'title': 'Sky_(United_Kingdom)', 'paragraphs'...
4    v2.0  {'title': 'Victoria_(Australia)', 'paragraphs'...

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   version  442 non-null    object
 1   data     442 non-null    object
dtypes: object(2)
memory usage: 7.0+ KB

In [ ]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   version  35 non-null     object
 1   data     35 non-null     object
dtypes: object(2)
memory usage: 688.0+ bytes

In [ ]:
train_data.describe()

       version                                               data
count      442                                                442
unique       1                                                442
top       v2.0  {'title': '51st_state', 'paragraphs': [{'qas':...
freq       442                                                  1

In [ ]:
import collections
import json

import matplotlib.pyplot as plt
import seaborn as sns
import wordcloud
import numpy as np


import re
import nltk


from textblob import TextBlob

import spacy

from sklearn import feature_extraction, manifold

import gensim.downloader as gensim_api

import gensim

In [ ]:
sample = train_data['data'][0]['paragraphs'][0]

sample

{'context': 'Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny\'s Child. Managed by her father, Mathew Knowles, the group became one of the world\'s best-selling girl groups of all time. Their hiatus saw the release of Beyoncé\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".',
 'qas': [{'answers': [{'answer_start': 269, 'text': 'in the late 1990s'}],
   'id': '56be85543aeaaa14008c9063',
   'is_impossible': False,
   'question': 'When did Beyonce start becoming popular?'},
  {'answers': [{'answer_start': 207, 'text': 'singing and dancing'}],
   'id': '56be85543aeaaa14008c9065',
   'is_impossible': False,
   'question': 'What areas did Beyonce compete in when she was growing up?'},
  {'answers': [{'answer_start': 526, 'text': '2003'}],
   'id': '56be85543aeaaa14008c9066',
   'is_impossible': False,
   'question': "When did Beyonce leave Destiny's Child and become a solo singer?"},
  {'answers': [{'answer_start': 166, 'text': 'Houston, Texas'}],
   'id': '56bf6b0f3aeaaa14008c9601',
   'is_impossible': False,
   'question': 'In what city and state did Beyonce  grow up? '},
  {'answers': [{'answer_start': 276, 'text': 'late 1990s'}],
   'id': '56bf6b0f3aeaaa14008c9602',
   'is_impossible': False,
   'question': 'In which decade did Beyonce become famous?'},
  {'answers': [{'answer_start': 320, 'text': "Destiny's Child"}],
   'id': '56bf6b0f3aeaaa14008c9603',
   'is_impossible': False,
   'question': 'In what R&B group was she the lead singer?'},
  {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
   'id': '56bf6b0f3aeaaa14008c9604',
   'is_impossible': False,
   'question': 'What album made her a worldwide known artist?'},
  {'answers': [{'answer_start': 360, 'text': 'Mathew Knowles'}],
   'id': '56bf6b0f3aeaaa14008c9605',
   'is_impossible': False,
   'question': "Who managed the Destiny's Child group?"},
  {'answers': [{'answer_start': 276, 'text': 'late 1990s'}],
   'id': '56d43c5f2ccc5a1400d830a9',
   'is_impossible': False,
   'question': 'When did Beyoncé rise to fame?'},
  {'answers': [{'answer_start': 290, 'text': 'lead singer'}],
   'id': '56d43c5f2ccc5a1400d830aa',
   'is_impossible': False,
   'question': "What role did Beyoncé have in Destiny's Child?"},
  {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
   'id': '56d43c5f2ccc5a1400d830ab',
   'is_impossible': False,
   'question': 'What was the first album Beyoncé released as a solo artist?'},
  {'answers': [{'answer_start': 526, 'text': '2003'}],
   'id': '56d43c5f2ccc5a1400d830ac',
   'is_impossible': False,
   'question': 'When did Beyoncé release Dangerously in Love?'},
  {'answers': [{'answer_start': 590, 'text': 'five'}],
   'id': '56d43c5f2ccc5a1400d830ad',
   'is_impossible': False,
   'question': 'How many Grammy awards did Beyoncé win for her first solo album?'},
  {'answers': [{'answer_start': 290, 'text': 'lead singer'}],
   'id': '56d43ce42ccc5a1400d830b4',
   'is_impossible': False,
   'question': "What was Beyoncé's role in Destiny's Child?"},
  {'answers': [{'answer_start': 505, 'text': 'Dangerously in Love'}],
   'id': '56d43ce42ccc5a1400d830b5',
   'is_impossible': False,
   'question': "What was the name of Beyoncé's first solo album?"}]}

In [ ]:
for i in sample:
  print(i)

qas
context

In [ ]:
sample_qas = sample['qas']
sample_context = sample['context']
sample_context

'Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny\'s Child. Managed by her father, Mathew Knowles, the group became one of the world\'s best-selling girl groups of all time. Their hiatus saw the release of Beyoncé\'s debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".'

In [ ]:
pip install langdetect

Requirement already satisfied: langdetect in /usr/local/lib/python3.7/dist-packages (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect) (1.15.0)

In [ ]:
import langdetect 
from langdetect import detect

In [ ]:
print(detect(sample_context))

en

In [ ]:
#txt = pd.DataFrame(train_data["data"]).iloc[0]


#txt = (train_data["data"]).iloc[0]

txt = sample_context

In [ ]:
print("--- original ---")
print(txt)
print("--- cleaning ---")
txt = re.sub(r'[^\w\s]', '', str(txt).lower().strip())
print(txt)
print("--- tokenization ---")
txt = txt.split()
print(txt)

--- original ---
Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny's Child. Managed by her father, Mathew Knowles, the group became one of the world's best-selling girl groups of all time. Their hiatus saw the release of Beyoncé's debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".
--- cleaning ---
beyoncé giselle knowlescarter biːˈjɒnseɪ beeyonsay born september 4 1981 is an american singer songwriter record producer and actress born and raised in houston texas she performed in various singing and dancing competitions as a child and rose to fame in the late 1990s as lead singer of rb girlgroup destinys child managed by her father mathew knowles the group became one of the worlds bestselling girl groups of all time their hiatus saw the release of beyoncés debut album dangerously in love 2003 which established her as a solo artist worldwide earned five grammy awards and featured the billboard hot 100 numberone singles crazy in love and baby boy
--- tokenization ---
['beyoncé', 'giselle', 'knowlescarter', 'biːˈjɒnseɪ', 'beeyonsay', 'born', 'september', '4', '1981', 'is', 'an', 'american', 'singer', 'songwriter', 'record', 'producer', 'and', 'actress', 'born', 'and', 'raised', 'in', 'houston', 'texas', 'she', 'performed', 'in', 'various', 'singing', 'and', 'dancing', 'competitions', 'as', 'a', 'child', 'and', 'rose', 'to', 'fame', 'in', 'the', 'late', '1990s', 'as', 'lead', 'singer', 'of', 'rb', 'girlgroup', 'destinys', 'child', 'managed', 'by', 'her', 'father', 'mathew', 'knowles', 'the', 'group', 'became', 'one', 'of', 'the', 'worlds', 'bestselling', 'girl', 'groups', 'of', 'all', 'time', 'their', 'hiatus', 'saw', 'the', 'release', 'of', 'beyoncés', 'debut', 'album', 'dangerously', 'in', 'love', '2003', 'which', 'established', 'her', 'as', 'a', 'solo', 'artist', 'worldwide', 'earned', 'five', 'grammy', 'awards', 'and', 'featured', 'the', 'billboard', 'hot', '100', 'numberone', 'singles', 'crazy', 'in', 'love', 'and', 'baby', 'boy']

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
lst_stopwords = nltk.corpus.stopwords.words("english")
lst_stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
print("--- remove stopwords ---")
txt = [word for word in txt if word not in lst_stopwords]
print(txt)

--- remove stopwords ---
['beyoncé', 'giselle', 'knowlescarter', 'biːˈjɒnseɪ', 'beeyonsay', 'born', 'september', '4', '1981', 'american', 'singer', 'songwriter', 'record', 'producer', 'actress', 'born', 'raised', 'houston', 'texas', 'performed', 'various', 'singing', 'dancing', 'competitions', 'child', 'rose', 'fame', 'late', '1990s', 'lead', 'singer', 'rb', 'girlgroup', 'destinys', 'child', 'managed', 'father', 'mathew', 'knowles', 'group', 'became', 'one', 'worlds', 'bestselling', 'girl', 'groups', 'time', 'hiatus', 'saw', 'release', 'beyoncés', 'debut', 'album', 'dangerously', 'love', '2003', 'established', 'solo', 'artist', 'worldwide', 'earned', 'five', 'grammy', 'awards', 'featured', 'billboard', 'hot', '100', 'numberone', 'singles', 'crazy', 'love', 'baby', 'boy']

In [ ]:
#str1 = ""
#txt = str1.join(txt)
#txt

In [ ]:

from nltk.stem import WordNetLemmatizer 

lemmatizer = WordNetLemmatizer()

In [ ]:
#print(lemmatizer.lemmatize(txt))

In [ ]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [ ]:
for word in sample_context.split():
  print(ps.stem(word))

beyoncé
gisel
knowles-cart
(/biːˈjɒnseɪ/
bee-yon-say)
(born
septemb
4,
1981)
is
an
american
singer,
songwriter,
record
produc
and
actress.
born
and
rais
in
houston,
texas,
she
perform
in
variou
sing
and
danc
competit
as
a
child,
and
rose
to
fame
in
the
late
1990
as
lead
singer
of
r&b
girl-group
destiny'
child.
manag
by
her
father,
mathew
knowles,
the
group
becam
one
of
the
world'
best-sel
girl
group
of
all
time.
their
hiatu
saw
the
releas
of
beyoncé'
debut
album,
danger
in
love
(2003),
which
establish
her
as
a
solo
artist
worldwide,
earn
five
grammi
award
and
featur
the
billboard
hot
100
number-on
singl
"crazi
in
love"
and
"babi
boy".

In [ ]:
train_data_copy = train_data.copy()

train_data_copy['word_count'] = train_data_copy["data"].apply(lambda x: len(str(x).split(" ")))
train_data_copy['char_count'] = train_data_copy["data"].apply(lambda x: sum(len(word) for word in str(x).split(" ")))
train_data_copy['sentence_count'] = train_data_copy["data"].apply(lambda x: len(str(x).split(".")))
train_data_copy['avg_word_length'] = train_data_copy['char_count'] / train_data_copy['word_count']
train_data_copy['avg_sentence_lenght'] = train_data_copy['word_count'] / train_data_copy['sentence_count']
train_data_copy.head()

  version  ... avg_sentence_lenght
0    v2.0  ...           48.020992
1    v2.0  ...           41.619211
2    v2.0  ...           45.344729
3    v2.0  ...           40.586538
4    v2.0  ...           61.904040

[5 rows x 7 columns]